# APP CONFIG
APP_NAME="Work & HR Management System"
APP_ENV=development
APP_URL=http://localhost:8000

# DATABASE CONFIG
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=work_hr_management
DB_USERNAME=root
DB_PASSWORD=

# JWT CONFIG
JWT_SECRET=b951142bc2e7e95aaa013dc5ffeed5d3af3754e51387641c0740303065a39410
JWT_EXPIRATION=86400
